<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
      <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js" 
          integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V"
          crossorigin="anonymous"></script>
      <link rel="stylesheet" href="sakura.css">
</head>
<body>
    <img class="house" src="house.jpg">
    <a class="window0" hx-post="/window" hx-vals='{"whichOne":0}'>
        <img src="windowOpen.png">
    </a>
    <a class="window1" hx-post="/window" hx-vals='{"whichOne":1}'>
        <img src="windowOpen.png">
    </a>
    <a class="door" hx-post="/door">
        <img src="doorOpen.png">
    </a>
</body>
</html>
