<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js" 
        integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="sakura.css">
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="thermo-container">
        <div id="result" class="mercury" style="height: 200px"></div>
        <img class="meter" src="Temp.png" alt="a thermometer">
    </div>
    <div style="margin-top: 16px">
        <form hx-post="/changeThermo"
            hx-trigger="change"
            hx-target="#result"
            hx-include="#theSlider"
            hx-swap="outerHTML">
            <input name="temp" id="theSlider" type="range" min="1" max="600" value="1" class="slider">
        </form>
    </div>
</body>
</html>
